<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiankong.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CALL_PHONE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 基础模块 END -->

    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.jiankong.interfac.MyLeanCloudApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="z767a90m9Ob26sWWsZRG9V1lUByVyrn2" />

        <activity
            android:name="com.jiankong.activity.ActivitySplash"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.jiankong.activity.ActivityLogin"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="com.jiankong.homeactivity" />

                <category android:name="android.intent.category.DEFAULT" >
                </category>
            </intent-filter>
        </activity>
        <activity
            android:name="com.jiankong.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.LoginRegister"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.LoginForgot"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.Frament"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.DevicelistMap"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.FramentWode"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.FramentDeviceList"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.DevicelistNumberlist"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.DetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.MapDetails"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.DevicelistAddUsers"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.WodeSafe"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.ShangLease"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.DevicelistQRcode"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.PupWindow"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/MyDialogStyleBottom"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.WodeModify"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.FramentShangcheng"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.DevicelistJiankong"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.WodeMydevice"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.WodeUser"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.DevicelistCaiwu"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.WodeSetup"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.WodeSetupIdea"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.ShangWork"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.ShangJishou"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="com.jiankong.activity.ShangBanche"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <service
            android:name="com.jiankong.service.AlarmService"
            android:enabled="true"
            android:process="system" />

        <receiver android:name="com.jiankong.service.AlarmReceiver" />

        <service
            android:name="com.jiankong.service.WarnService"
            android:enabled="true"
            android:process="system" />
    </application>

</manifest>